footer {
	font-family: 'Libre Barcode 128', cursive !important;
	width: 100%;
	height: 100px;
	float: left;
	background-color: rgba(30,30,220,1);
	color: rgba(205,241,245,1);
	text-align: center;
	line-height: 100px;
}