header {
	width: 100%;
	height: 50px;
	float: left;
	background-color: rgba(205,251,245,1);
	color: rgba(30,30,220,1);
	text-align: left;
	line-height: 10px;
	
	}


nav {
	width: 100%;
	height:25px;
	float: left;
	text-align: center;
}

nav a {
	display: block;
	width: 25%;
	height:100%;
	float: left;
	background-color: rgb(30,30,220);
	line-height: 25px;
	color:white;
	text-decoration:none;
}

