@import url(podela/heder.css);
@import url(podela/footer.css);

*{
	margin: 0;
	padding: 0;
	font-family: 'Shadows Into Light Two', cursive;
}

form {
	width: 100px;
	height: 400px;
	margin: 20px;
}


form table {
	display: block;
	width: 200px;
	height: 20px;
	margin-top: 20px;
	padding-right: 50px;
	padding left: 50px;
}

table {
	border-collapse: separate;
	border-spacing: 5px;
	border-color: blue;
}