@import url(podela/heder.css);
@import url(podela/footer.css);
@import url(podeda/header.css);

*{
	margin: 0;
	padding: 0;
	font-family: 'Shadows Into Light Two', cursive;
}



section {

	width: 50%;
	height: 500px;
	float: left;
}

article {

	width: 100%;
	height: 100%;
	float: left;
	text-align: center;
}

section article p {
	padding-left: 50px;
	padding-right: 50px;
}

aside {
	width: 50%;
	height: 500px;
	float: left;
}

img {
	width: 100%;
	height: 100%;
}

